<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.software.live_tv"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED "/>

    <application
        android:name="de.hahnphilipp.watchwithfritzbox.player.WatchWithFritzboxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:banner="@mipmap/ic_banner"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.hahnphilipp.watchwithfritzbox.setup.SetupIPActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="de.hahnphilipp.watchwithfritzbox.setup.SetupSearchActivity"/>
        <activity android:name="de.hahnphilipp.watchwithfritzbox.player.TVPlayerActivity"/>
        <activity android:name="de.hahnphilipp.watchwithfritzbox.setup.ShowcaseGesturesActivity"/>
        <activity android:name="de.hahnphilipp.watchwithfritzbox.rich.RichTvInputSetupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name="de.hahnphilipp.watchwithfritzbox.rich.RichTvInputService"
            android:label="@string/rich_input_label"
            android:permission="android.permission.BIND_TV_INPUT"
            android:exported="true">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>
            <!-- An XML file which describes this input. This provides pointers to
            the RichTvInputSetupActivity to the system/TV app. -->
            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/richtvinputservice" />
        </service>

    </application>

</manifest>
